@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section class="hero-wrap hero-wrap-2" style="background-image:url(/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row slider-text justify-content-center align-items-center">
            <div class="col-md-7 col-sm-12 text-center ftco-animate">
                <h1 class="mb-3 mt-5 bread">@ViewData["Title"]</h1>
            </div>

        </div>
    </div>
</section>
<p>
    Please check your email to reset your password.
</p>

