@model Model4You.Web.ViewModels.Home.AboutView.AboutViewModel
@{
    this.ViewData["Title"] = "About";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Topmodel - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">

</head>

<body>

    <section class="hero-wrap hero-wrap-2" style="background-image:url(https://localhost:5001/images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">About Top Model</h1>
                </div>

            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/bg_2.jpg);">
                    <a href="https://vimeo.com/372600700" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                        <span class="icon-play"></span>
                    </a>
                </div>
                <div class="col-md-6 py-5 wrap-about pb-md-5 ftco-animate">
                    <div class="heading-section pt-md-5">
                        <span class="subheading">Welcome to Top Model</span>
                        <h2 class="mb-4">We Are Model Agency</h2>
                    </div>
                    <div class="pb-md-5">
                        <p>model4you is the world’s modeling community, leading the way internationally in connecting new faces (aspiring models) and professional models with reputable agencies, photographers, stylists and other industry clients.</p>
                        <p>We pride ourselves on delivering a service that is not only desired, but also innovative and highly effective. After a lengthy process of research and development including consultation with top modeling agencies, model4you has been created to make a fast, streamlined and efficient service that gets proven results and is an essential tool for the modeling community.</p>
                        <p>Our dedicated team of professionals has a combined 30 years of experience in the modeling industry, from the catwalks of Milan, to designing IT systems for some of the premier model agencies in Europe.</p>
                        <p>We are passionate about providing a professional online platform, which benefits all new and professional participants in the modeling industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section ftco-services">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-4">
                            <span class="flaticon-diamond"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Finding Agency</h3>
                            <p>Agencies, you are given access to a vast array of models ranging from fresh new talent to proven professionals. With our photo sessions we are able to show you previously undiscovered models and present them in a fresh, high quality yet realistic, light. We show our new faces without complicated hair and makeup, which allows you to see the model and all their potential.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-4">
                            <span class="flaticon-cosmetics"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Types of Modeling</h3>
                            <p>Whether you are a Aspiring model or Amateur or a professional model, create your model4you profile and photobooks and instantly increase your international exposure. Be seen on a scale that has previously only been realized by a privileged few. This is your chance to get listed with the most in-demand international agencies and to be selected by the best photographers worldwide. The worlds leading players are watching, so let them see you!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-4">
                            <span class="flaticon-fashion"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Freelance</h3>
                            <p>If you’re a freelance model, then you’re representing yourself and you are fully responsible for finding and booking your own work. One major advantage of securing your own work is not having to divide your earnings with your agency so you will take home the full amount of the job. Generally speaking though, freelance modelling gigs tend to pay less than fashion and commercial jobs, as clients that hire freelance models generally have a tighter budget.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-4">
                            <span class="flaticon-loupe"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Search Models</h3>
                            <p>Alternatively search through the selection of professional models, view their profile and previous work to see if it is a fit for your agency or up and coming campaigns. We categorise the models and list their vital statistics to help you find exactly what you are looking for fast!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*TODO Fit other information count if any*@
    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row d-md-flex align-items-center">
                <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center">
                        <div class="text">
                            <strong class="number" data-number="@Model.Count">0</strong>
                            <span>Models</span>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center">
                        <div class="text">
                            <strong class="number" data-number="100">0</strong>
                            <span>Agency</span>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center">
                        <div class="text">
                            <strong class="number" data-number="40">0</strong>
                            <span>Awards</span>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center">
                        <div class="text">
                            <strong class="number" data-number="245">0</strong>
                            <span>Events</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<section class="ftco-section testimony-section">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-md-7 heading-section ftco-animate text-center">
                        <span class="subheading">Testimony</span>
                        <h2 class="mb-4">My satisfied customer says</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                    </div>
                </div>
                <div class="row ftco-animate">
                    <div class="col-md-12">
                        <div class="carousel-testimony owl-carousel">
                            <div class="item">
                                <div class="testimony-wrap p-4 pb-5 text-center">
                                    <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Garreth Smith</p>
                                        <span class="position">Agent</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap p-4 pb-5 text-center">
                                    <div class="user-img mb-5" style="background-image: url(images/person_2.jpg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Garreth Smith</p>
                                        <span class="position">Model</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap p-4 pb-5 text-center">
                                    <div class="user-img mb-5" style="background-image: url(images/person_3.jpg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Garreth Smith</p>
                                        <span class="position">Model</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap p-4 pb-5 text-center">
                                    <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Garreth Smith</p>
                                        <span class="position">Agent</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap p-4 pb-5 text-center">
                                    <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Garreth Smith</p>
                                        <span class="position">Businessman</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>

</body>

</html>