@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>
@*COPIED Terms of conditions FROM A MODEL WEBSITE NOT REAL*@
<article>
    <h1> THIS IS COPIED FROM A WEBSITE AND NOT FOR REAL USE
        General terms and conditions for the use of model4you  by models (“Models”)
    </h1>
    <p>
        By logging on to model4you, Models accept the following General Terms and Conditions (hereinafter the <strong>“GTCs”</strong>) for using model4you.
        The Model enters into this agreement on the use of model4you services with Creative Talent Evolution S.L., Moll de Barcelona, WTC, 08039 Barcelona, Spain. Additional contact information, commercial registry data, as well as the name of the authorized representative of model4you are accessible via <strong>“<a href="/company-details/">Company details</a></strong>”.
    </p>
    <p><strong>A. DEFINITIONS</strong></p>
    <p><strong>“Professionals”:</strong> Agents/agencies, photographers, hair and makeup artists, stylists, other industry professionals and spectators visiting or using model4you;</p>
    <p><strong>“Models”:</strong> Models visiting or using model4you;</p>
    <p><strong>“B-Professionals”:</strong> Agents/agencies, photographers, hair and makeup artists, stylists and other industry professionals that are registered users on model4you and that use the Booking System;</p>
    <p><strong>“B-Models”:</strong> Models of legal age (18 years-old and older) that are subscribed to model4you and that use the Booking System;</p>
    <p><strong>“GTCs”:</strong> General Terms and Conditions for the use of model4you by Models, including Sections A to C.</p>
    <p><strong>“GTCs Booking System”:</strong> General Terms and Conditions accepted by Models and Professionals for the use of the Booking System.</p>
    <p><strong>“Booking System”:</strong> Feature on model4you through which registered Professionals are able to book a Model of legal age (18 years old or over) for a certain job;</p>
    <p><strong>“Website”:</strong> model4you;</p>
    <p><strong>“Total Price”:</strong> Total amount that B-Professionals must pay by PayPal or credit card on model4you for booking a B-Model through the Booking System;</p>
    <p><strong>“Agreed Date”:</strong> End date of the job requested by the B-Professional to the B-Model through the Booking System and that has been agreed between both of them;</p>
    <p>“Start Date”: Start date of the job requested by the B-Professional to the B-Model through the Booking System and that has been agreed between both of them;</p>
    <p><strong>“Agreed Fee”:</strong> Fee agreed between the B-Professional and the B-Model for the job requested by the B-Professional to the B-Model through the Booking System.</p>
    <p><strong>B. USE OF model4you</strong></p>
    <p>
        <strong>1. Subject Matter</strong>
        1.1 model4you offers Models a platform for presenting their profiles and photo books and for arranging business contacts, particularly with agents/agencies and photographers.
    </p>
    <p>1.2 Certain limited features of model4you are offered for free, while the use of the full range of services requires the subscription to our <strong>“Premium Services”.</strong> Details about the applicable subscription fees for the use of model4you by Models are set forth under '<a href="/public/site/model_memberships/">Fees</a>'. The fees listed thereunder are binding. The applicable subscription fee for the service chosen by the Model shall be due immediately upon registration on model4you. Payments can be made using the various payment methods, or the available online payment systems. The Model may start using the Premium Services if and when model4you has received the applicable subscription fee.</p>
    <p>1.3 The Model acknowledges and agrees that it is technically impossible to achieve 100% availability of model4you. model4you shall nonetheless endeavor to keep model4you available without interruption. Events related to maintenance, security or capacity requirements, and/or events beyond model4you's control (e.g. disruptions in public communication networks, power failures etc.), may result in brief malfunctions or temporary interruptions of the services provided on model4you.</p>
    <p>1.4 model4you provides Models with a platform on which to establish contact with other persons or entities, in particular model agencies. model4you does not take part in any communication between Models and/or any other users of its services. If users enter into agreements with one another via model4you, model4you shall not be a contracting party to these agreements. The users alone are responsible for the execution and/or fulfillment of agreements in which they enter with one another. model4you shall not be held liable if users are unable to contact one another over model4you regarding such agreements. Furthermore, model4you shall not be liable for breaches of agreements entered into between users.</p>
    <p><strong>2. Registration on model4you</strong></p>
    <p>2.1 Models must register prior to using the services of model4you.</p>
    <p>2.2 The Model shall only provide accurate and complete data for registration. The registration data include an alias (online) name to be chosen by the Model for public display with the Model’s profile, whereas the Model’s real name will not be made publicly available. The Model shall report any changes in the registration data to model4you without undue delay.</p>
    <p>2.3 The Model warrants and represents that he or she is of legal age of 16 years at the time of registration, failing which the subscription to model4you is subject to requisite parent/guardian consent. In any event, persons under the age of 14 years are not permitted to use MODELMANEGEMENT.COM.</p>
    <p>2.4 The Model shall choose a password upon registration, which is needed in order to access his/her account on model4you. The Model is obliged to keep this password secret. model4you shall not disclose the password to any third party and model4you’S employees shall not ask for the Model’s password at any time. The Model shall notify model4you immediately of any unauthorized use of his/her password or account.</p>
    <p>2.5 By completing the registration process, the Model accepts these GTCs on the use of the services of model4you. model4you accepts this offer by activating the services on model4you.</p>
    <p>2.6 It is agreed that once the Model completes profile information such as gender, ethnicity, age etc, these will be shown publicly.</p>
    <p><strong>3. Obligations of the Model</strong></p>
    <p>3.1 The Model is obliged to provide only true and non-misleading statements in his/her profile and in communications with other users.</p>
    <p>3.2 The Model shall post on model4you only photographs, videos, content and other materials (the “Content”) that are in compliance with the guidelines for photographs published by model4you under “guidelines”. The Model warrants and represents that the public display of such Content is not prohibited. The Model agrees that Trusted Photographer may directly upload photos and videos of the Model that they take.</p>
    <p>3.3 The Content posted by the Model shall comply with all applicable legislation, and respect all third-party rights. In particular, the Model shall not: (i) post any pornographic, insulting or defamatory Contents, or any Contents that violate any applicable legislation for the protection of minors; (ii) advertise or promote, offer or distribute any products or services which do not comply with any applicable legislation for the protection of minors; (iii) use without authorization any Contents protected by law (e.g. by copyright, trademark, patent, utility patent, or design patent laws).</p>
    <p>3.4 The Model shall not distribute or publicly disclose the contents of model4you, or perform any actions which may impair the operability of model4you’s infrastructure, particularly actions which may overload said infrastructure.</p>
    <p>3.5 The Model agrees that model4you may use his/her name and a customer reference, e.g. in publications about success stories, and may publicly disclose and advertise the fact that the Model is using model4you.</p>
    <p><strong>4. Changes to the Services on model4you</strong></p>
    <p>model4you reserves the right to modify the services offered on model4you and/or to offer services different from those offered at the time of the registration of the Model at any time, unless this is unreasonable for the Model.</p>
    <p><strong>5. Termination of Subscription</strong></p>
    <p>5.1 The Model may terminate his/her subscription to model4you at any time without cause. The Model may deliver notice of termination using the contact form available on model4you or by pressing the “Request your account to be deleted” button, if available, at any time. The termination notice shall include the Model’s registered name and e-mail address.</p>
    <p>The subscription to model4you shall terminate automatically in case the Model does not pay the subscription fee for the renewal of its subscription as and when due as set forth under “fees”.</p>
    <p>5.2 During any term for which a Model has paid the applicable subscription fee, model4you may only terminate such subscription for good cause. A “good cause” is defined as an event which makes it unacceptable for model4you to continue the subscription to the end of the subscription period, taking into account all circumstances of the individual case and weighing the interests of model4you against those of the Model. A good cause includes, among others, any the following events:</p>
    <ul>
        <li>
            If the Model fails to comply with any applicable legal provisions;
            <em>
                If the Model breaches a material contractual obligation set forth in these GTCs;
            </em>If the Model causes harm to any other user(s) of model4you;
        </li>
        <li>
            If model4you considers that the Model is involved in any immoral activity;
            *If the Model makes any changes or removes information in his/her profile which could affect his/her status.
        </li>
    </ul>
    <p>5.3 In the event of a good cause in accordance with section 5.2, model4you is entitled to:</p>
    <ul>
        <li>Delete the contents posted by the Model</li>
        <li>Issue a warning, or</li>
        <li>Block the Model’s access to the services on model4you.</li>
    </ul>
    <p>5.4 In the following cases, the Model shall not be entitled to claim reimbursement of any subscription fees paid:</p>
    <ul>
        <li>If model4you has terminated the contract for good cause pursuant to section 5.2,</li>
        <li>If model4you has blocked the Model’s access in accordance with section 5.3, or</li>
        <li>If the Model has terminated the agreement. However, the Model’s right to claim reimbursement of any subscription fees shall not be excluded in this case if the Model has terminated the agreement for a good cause attributable to model4you.</li>
    </ul>
    <p><strong>6. Responsibility for the Model’s Content, Data or other Information</strong></p>
    <p>6.1 model4you does not make any warranties or representations regarding any data and/or information provided or made available by any user on model4you. In particular, model4you does not warrant or represent that said data and/or information is true or accurate, or that it fulfils or serves any particular purpose.</p>
    <p>6.2 The Model shall report any activities of any other user which violate applicable laws, and/or any of these GTCs using the contact form available on model4you.</p>
    <p><strong>7. Customer Service/Support</strong></p>
    <p>Queries regarding the agreement with model4you or regarding model4you’s services may be sent to model4you using the contact form available on model4you or by sending an e-mail to <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="32414742425d4046725f5d56575e5f535c5355575f575c461c515d5f1c">[email&#160;protected]</a></p>
    <p><strong>8. Liability of model4you</strong></p>
    <p>model4you (including its vicarious agents) shall only be liable for damages suffered by the Model as a consequence of its subscription to model4you if model4you is in material breach of these GTCs and has not cured such breach (if capable of being cured) despite a reasonable cure period set by the Model.</p>
    <p><strong>9. Indemnity</strong></p>
    <p>9.1 The Model shall indemnify and hold model4you harmless from and against all actions, including damage claims, asserted by other users or third parties against model4you resulting from an infringement of their rights by the Contents posted by the Model on model4you. The Model assumes all reasonable costs model4you incurs due to an infringement of third party rights, including all reasonable legal-defense costs. All other rights of model4you, including the right to claim damages, shall remain unaffected.</p>
    <p>9.2 In the event the Contents posted by the Model infringes any rights of any third party, the Model shall, at his/her own expense and at model4you’s discretion, either obtain the right to use said Contents or render said Contents free of any infringement.</p>
    <p><strong>10. Data Protection</strong></p>
    <p>model4you recognizes that any personal data provided by the Model to model4you is extremely important to the Model, and model4you shall therefore be particularly sensitive in handling such data. model4you shall comply with all applicable legal provisions regarding data protection. In particular, model4you shall not provide or otherwise disclose any personal data of the Model to any third party without authorization. Details on model4you's treatment of the User's data are set forth in the Data Protection Policy of model4you.</p>
    <p><strong>11. Feedback, Reputation and reviews</strong></p>
    <p>
        Models accept and acknowledge transferring copyright of all the feedback, reputation and reviews that they may post on the Website. This feedback belongs solely to model4you.
        Models acknowledge that they cannot use this feedback without prior written permission of model4you.
    </p>
    <p><strong>12. Taxes</strong></p>
    <p>Models are responsible for paying their own taxes. Legal VAT, according to the Law of Spain, will be added to fees billed to Models, if applicable.</p>
    <p><strong>13. Language</strong></p>
    <p>Models accepting the GTCs for using model4you declare that they fully and perfectly understand the content of the English version of these GTCs.</p>
    <p><strong>14. Miscellaneous</strong></p>
    <p>14.1 Any amendments to these GTCs must be made in writing in order to be valid.</p>
    <p>14.2 model4you reserves the right to amend these GTCs at any time, without giving reasons, unless an amendment is unreasonable to the Model. model4you shall give due notice of any amendments of these GTCs to the Model. If the Model does not object to the applicability of the revised GTCs within two (2) weeks after receipt of said notice, the amended GTCs shall be deemed to be accepted by the Model. model4you shall inform the Model about the Model's right to object and of the relevance of the objection deadline in said notice.</p>
    <p>14.3 Unless otherwise stated in these GTCs, the Model may submit all notices to model4you using the contact form provided on model4you, or by sending an e-mail to <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7d0e080d0d120f093d1012191811101c131c1a1810181309531e121053">[email&#160;protected]</a></p>
    <p>14.4 If any provision of these GTCs is, for any reason, invalid and/or unenforceable, the remaining provisions shall continue to be valid and enforceable to the fullest extent permitted by law. The parties agree to replace an invalid and/or unenforceable provision with a valid and/or enforceable provision which comes as close as possible to the intent and economic purpose of the invalid and/or unenforceable provision. This also applies to regulatory gaps in these GTCs.</p>
    <p><strong>C. BOOKING SYSTEM OF model4you</strong></p>
    <p>The Booking System is a feature on model4you through which registered Professionals (herein after “B-Professionals”) are able to book subscribed Models of legal age (herein after “B-Models”) for a certain job.</p>
    <p>B-Models and B-Professionals accept the following General Terms and Conditions for using the Booking System of model4you:</p>
    <p><strong>1. General Terms and Conditions for the use of model4you</strong></p>
    <p>These General Terms and Conditions for the use of the Booking System (herein after “GTCs Booking System”) include all the above-mentioned terms and conditions (Section A and B) as long as they are not contrary to the GTCs Booking System (Section C).</p>
    <p><strong>2. Use of the Booking System</strong></p>
    <p>2.1 B-Professionals shall make an offer to book a Model through the Booking System. To this end, B-Professionals must determine in their offer the specific job required and the fees that they consider adequate for this job by submitting a specific form to a concrete B-Model through model4you. This form is available on the Website.</p>
    <p>2.2 If the B-Model and the B-Professional reach an agreement for the specific terms and conditions for the job, including the fees, the B-Professional is obliged to pay through model4you:</p>
    <ul>
        <li>The Fee agreed between the B-Professional and the B-Model (herein after the “Agreed Fee”;</li>
        <li>Plus a 10% of the Fee, corresponding to a commission for model4you;</li>
        <li>
            Plus the legal VAT, according to the Law of Spain, on the commission, if applicable.
            Value Added Taxes are charged to EU residents unless the B-Professional provides to model4you a valid VAT number.
            Herein after the “Total Price”.
        </li>
    </ul>
    <p>2.3 The commission earned by model4you is for:</p>
    <ul>
        <li>creating, hosting, maintaining, and providing its Website;</li>
        <li>the delivered services that model4you makes accessible through its Website;</li>
        <li>and to cover expenses and fees that model4you incurs to banks, credit card companies, PayPal and payment processors.</li>
    </ul>
    <p><strong>3. Method and conditions of payment</strong></p>
    <p>3.1 The currency of the Agreed Fee is agreed between the B-Professional and the B-Model, limited to USD, EUR or GBP. The Total Price is charged in the same currency.</p>
    <p>3.2 The payment of the Total Price by the B-Professional must be made by PayPal or credit card through the mechanisms available on the Booking System of model4you. No additional fees are charged to B-Professionals by model4you for the use of payment processors.</p>
    <p>3.3 model4you takes and holds the money paid through the Booking System and only releases it 48 hours after the agreed end date between the B-Professional and the B-Model for completing the job, herein after the “Agreed Date”.</p>
    <p>3.4</p>
    <ol>
        <li>
            <p>Of the Total Price paid by the B-Professional, model4you deducts the commission, which covers the expenses and fees that model4you incurs to banks, credit card companies, PayPal and payment processors, and the corresponding legal VAT on the commission, if applicable, and transfers the remaining amount to the B-Model no later than 48 hours after the Agreed Date.</p>
        </li>
        <li>If model4you is informed by the B-Model or by the B-Professional of a dispute between them regarding the job completion or if there are technical problems, model4you will release the Total Price after the dispute or the technical problems are solved. If the disputes, between the B-Model and the B-Professional, or the technical problems are not solved within 1 month after the Agreed Date, model4you will charge the Total Price 1 month after the Agreed Date and transfer to the B-Model the remaining amount (after the deduction of the commission and the corresponding legal VAT on the commission, if applicable) no later than 48 hours after. The disputes between the B-Model and the B-Professional will have to be solved judicially and extra-judicially with no intervention of model4you.</li>
    </ol>
    <p>3.5 model4you may not release the money if the source of the funds is suspected to be fraudulent. Any payments made by fraudulent funds (e.g. stolen credit cards) will be immediately reversed and the B-Professional will have to pay the owed amount to model4you.</p>
    <p><strong>4. Cancellations and refunds</strong></p>
    <p>4.1 B-Models may cancel the booking at any time within the booking date and the Agreed Date. If the B-Model cancels the booking, the Total Price paid by the B-Professional to model4you is refunded to the B-Professional no later than 14 days after the notification of the cancellation to model4you.</p>
    <p>If the B-Model cancels the booking it is the responsibility of the B-Professional to notify the cancellation to model4you no later than 24 hours after the Agreed Date.</p>
    <p>4.2 B-Professionals may cancel the booking before the B-Model delivers to him/her any of the services agreed between them and no later than 7 days before the start date of the job requested by the B-Professional to the B-Model through the Booking System and that has been agreed between both of them (herein after the “Start Date”).</p>
    <ul>
        <li>
            <p>If the B-Professional cancels the booking before the B-Model delivers to him/her any of the services agreed between them and at least 7 days before the Start Date: model4you charges the commission of the Clause 2.2 (Section C) and the corresponding legal VAT on the commission, if applicable, and refunds the rest of the Total Price to the B-Professional no later than 14 days after the notification of the cancellation to model4you;</p>
        </li>
        <li>If the B-Professional cancels the booking less than 7 days before the Start Date or later or once the B-Model has delivered to him/her any of the services agreed between them, the Total Price is charged by model4you. model4you will then follow the procedure stated in Clause 3.4.1 (Section C).</li>
    </ul>
    <p><strong>5. Intervention of model4you in the transaction</strong></p>
    <p>5.1 If the B-Professional effectively books a Model through the Booking System, the persons intervening in this process are the Professional, the Model and model4you.</p>
    <p>5.2 The intervention of model4you in the transaction is only for the following purposes:</p>
    <ul>
        <li>To provide, host and maintain a list of Models on the Website in order to enable the Professionals to select Models for the services that they may require;</li>
        <li>To supervise that the B-Professional correctly pays the Total Price;</li>
    </ul>
    <p>5.3. model4you is only an intermediary. The agreement is reached by the B-Model and the B-Professional without any recommendation of model4you. model4you does not take any decision on the suitability of a B-Model for a certain job. The only persons responsible of the decision and of the adequacy of the services of a B-Model for a concrete job are the B-Professional and the B-Model.</p>
    <p>If any worker of model4you makes any remark regarding the work of a Model or its suitability for a job in any means of communication, including model4you website, these will be considered as simple personal opinions, for which MODELMANAGEMNT.COM and/or its workers will not be held responsible.</p>
    <p>model4you is not responsible for the job carried out by the B-Model. B-Professionals and B-Models agree and acknowledge that model4you is not responsible of any issue arising between them regarding the completion of the specific job. The responsibilities of the B-Professional and the B-Model, other than the ones specified in these GTCs, are set out in the concrete agreement reached by them.</p>
    <p>5.4 B-Models and B-Professionals agree and acknowledge that the relationship between them is that of independent contractors.</p>
    <p>5.5 B-Agents and B-Models agree and acknowledge that model4you is not responsible for:</p>
    <ul>
        <li>any expenses, including travelling and food expenses, incurred by the B-Model or the B-Professional;</li>
        <li>the correct completion of the job;</li>
        <li>the veracity or accuracy of any document or information given between the B-Model or the B-Professional;</li>
        <li>and the use by the B-Models and/or the B-Professional of the information and documents exchanged between them.</li>
    </ul>
    <p>5.6 model4you does not offer any form of insurance since the Website only provides an online venue for B-Professionals to make and offer and buy services of B-Models.</p>
    <p>5.7 Depending on the applicable jurisdiction, B-Models and B-Professionals may have rights that cannot lawfully be excluded. Nothing in these GTCs is intended to override such rights.</p>
    <p><strong>6. Complaints and Disputes</strong></p>
    <p>6.1 B-Professionals can raise any complaints that they may have regarding the completion of the job by the B-Model to model4you up until 24 hours after the Agreed Date.</p>
    <ul>
        <li>
            <p>If model4you receives the complaint within the abovementioned period, the Total Price paid by the B-Professional is held by model4you and is not released until the issue is solved. If the issue is not solved in 1 month from the notification of the complaint to model4you and no agreement is reached between the B-Model and the B-Professional regarding the complaint, the Total Price is released by model4you. model4you will transfer to the B-Model the remaining amount (after the deduction of the commission and the corresponding legal VAT on the commission, if applicable) no later than 48 hours after;</p>
        </li>
        <li>If model4you receives the complaint after the abovementioned period, the Total Price is charged as specified in Clause 3.3 (Section C). model4you will then follow the procedure stated in Clause 3.4.1 (Section C) and any dispute that may arise between the B-Professional and the B-Model shall be solved judicially or extra-judicially by them. B-Professionals acknowledge and accept that if the complaint is made after the abovementioned period, the commission of model4you will not be refunded in any case.</li>
    </ul>
    <p>6.2 When any dispute regarding the agreement reached between the B-Professional and the B-Model through the Booking System arises:</p>
    <ul>
        <li>
            <p>The B-Professional and the B-Model commit themselves to try to solve the conflict by reaching an agreement between them, with no intervention of third parties, including model4you.</p>
        </li>
        <li>
            <p>If the B-Professional and the B-Model reach an agreement within 1 month after the Agreed Date, they commit themselves to inform of the agreement to model4you.</p>
        </li>
        <li>If the B-Professional and the B-Model do not reach an agreement within 1 month, both parties will have to solve their problems judicially or extra-judicially, with no intervention of model4you.</li>
    </ul>
    <p>6.3 B-Professionals and B-Models agree and acknowledge that model4you does not provide legal services or legal advises of any kind.</p>
    <p><strong>7. Refund Policy</strong></p>
    <p>The MODEL can request the reimbursement of their payment for a service within the period established by law(7 DAYS). The amount of the refund will be full if the model did not use the service contracted, such as the application of more than 1 casting and/or messaging members, and partial if the model made use of the service contracted all within the period established by law of 7 days.</p>
    <p>Refunds on services contracted for a period of time after the said 7 day period, cannot be made.</p>
    <p>Refunds on memberships renewals cannot be made.</p>
    <p>
        A full refund will be offered to models that have an account which can’t be approved.
        <br />
        <br />
</article>
